@model PizzaBox.Client.Models.HistoryViewModel
<h1 class="display-6">@Model.Store</h1>

@foreach (var item in Model.Orders)
{
  <div class="column">

  @item.Customer.FirstName @item.Customer.LastName


  @foreach (var Pizza in item.Pizzas)
    {
      <li>
        @Pizza.Crust @Pizza.Size
        @foreach (var Topping in Pizza.Toppings)
        {
          @: @Topping
        }
      </li>
    }

  </div>
}